body {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 300%;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.title-image {}

.calendar-container {
    height: 100%;
    width: 100%;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.calendar {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.calendar-row {
    display: flex;
    flex-grow: 1;
}

.calendar-door-closed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: yellow;
    /* The border adds to the total size */
    /* To keep the same size as open doors, we need a transparent border */
    /* border: 1px solid transparent; */
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
}

/* Replaces the calendar-door-closed elements once clicked */
/* Set through js code */
.calendar-door-open {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    /* border: 1px solid black; */
}

.door-open {
    transition: all 1.0s ease-out;
}

a:link {
    color: #3d5aa0;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #973a93;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #478acc;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

</style>
